*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Roboto', sans-serif;    
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Arial', sans-serif;
    color: #444;
}
nome_aleatorio{
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Roboto', sans-serif;
} 
