* {
    margin: 0;
    box-sizing: border-box;
}
/* preciso que os elementos tenham largura de 25% de um lado e do outro e estejam dispostos na tela em direita, centro e esquerda */

p {
    width: 33.33%;
    text-align: center;
    display: inline;
    /* colocar lado a lado, na horizontal */
} 

.box1 {
    background-color: blue;
    height: 25%;
    
}

.box2 {
    background-color: red;
        height: 25%;

}

.box3 {
    background-color: green;
        height: 25%;

}
