*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
}

.container div{
    width: 33.333%;
    height: 100%;
}

.azul{
    background-color: blue;
}

.branco{
    background-color: white;
}

.vermelho{
    background-color: red;
}