*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.franca{
    width: 33.333%;
    height: 100%;
}

.franca.azul{
    background-color: blue;
}

.franca.branco{
    background-color: white;
}

.franca.vermelho{
    background-color: red;
}
