.frame {
  position: relative;
  width: 1080px;
  height: 720px;
  background-color: #ffffff;
  aspect-ratio: 1.5;
}

.frame .rectangle {
  width: 1080px;
  height: 70px;
  background-color: #1c1e1f;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .text-wrapper {
  position: absolute;
  top: 20px;
  left: 40px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: absolute;
  top: 25px;
  left: 722px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 25px;
  left: 842px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 25px;
  left: 975px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component {
  top: 110px;
  left: 40px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .img {
  width: 100%;
  height: 83.33%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 34.36%;
  height: 11.67%;
  top: 88.33%;
  left: 37.29%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component-2 {
  top: 110px;
  left: 380px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 16.88%;
  height: 11.67%;
  top: 88.33%;
  left: 41.04%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component-3 {
  top: 110px;
  left: 720px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 17.81%;
  height: 11.67%;
  top: 88.33%;
  left: 40.72%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component-4 {
  top: 330px;
  left: 40px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .text-wrapper-7 {
  position: absolute;
  width: 17.19%;
  height: 11.67%;
  top: 88.33%;
  left: 41.04%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component-5 {
  top: 330px;
  left: 380px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .text-wrapper-8 {
  position: absolute;
  width: 25.94%;
  height: 11.67%;
  top: 88.33%;
  left: 36.66%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .component-6 {
  top: 330px;
  left: 720px;
  position: absolute;
  width: 320px;
  height: 180px;
}

.frame .text-wrapper-9 {
  position: absolute;
  width: 21.88%;
  height: 11.67%;
  top: 88.33%;
  left: 38.54%;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
