* {
    margin: 0;
    box-sizing: border-box;
}

p {
    height: 25px;
    text-align: center;
    width: 33%;
    /* colocar lado a lado, na horizontal */
    display: inline-block;
} 

.box1 {
    background-color: blue;
    
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: green;
}
