@import url('https://fonts.googleapis.com/css2?family=Abel');

.container{
    display: flex;
}
.azul{
    width: 1000px; 
    height: 70px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background-color: #0000FF;
}
.branco_sobre{
    left: 356px; 
    top: 25px; 
    position: absolute; 
    color: white; 
    font-size: 18px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;

}
.branco_produtos{
    left: 469px; 
    top: 25px; 
    position: absolute; 
    color: white; 
    font-size: 18px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;
    
}

.branco_contato{
    left: 589px; 
    top: 25px; 
    position: absolute; 
    color: white; 
    font-size: 18px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;
}

.p1{
    width: 227px;
    height: 180px;
    left: 40px;
    top: 110px;
    position: absolute;

}

.fundo{
    width: 685px; 
    height: 324px; 
    left: 40px; 
    top: 110px; 
    position: absolute; 
    background: #C4C4C4
}   

.video{
    width: 165px;
    height: 22.37px;
    left: 49px;
    top: 444px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: Abel;
    font-weight: 400;
    word-wrap: break-word;
}

.p2{
    width: 215px; 
    height: 142px; 
    left: 745px; 
    top: 110px; 
    position: absolute;

}

.p3{
    width: 215px;
    height: 120px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #C4C4C4;
}
.recomendado1{
    width: 135.52px; 
    left: 0px; 
    top: 125px; 
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;
}

.p4{
    width: 215px; 
    height: 142px; 
    left: 745px; 
    top: 272px; 
    position: absolute;
    
}

.p5{
    width: 215px; 
    height: 120px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
}

.recomendado2{
    width: 135.52px; 
    left: 0px; top: 
    125px; position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;
 
}

.p6{
    width: 215px; 
    height: 142px; 
    left: 745px; 
    top: 434px;
    position: absolute;
}

.p7{
   width: 215px; 
   height: 120px; 
   left: 0px; 
   top: 0px; 
   position: absolute; 
   background: #C4C4C4;
}

.recomendado3{
    width: 135.52px; 
    left: 0px; 
    top: 125px; 
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Abel; 
    font-weight: 400; 
    word-wrap: break-word;
}

.p8{
    width: 215px;
    height: 142px; 
    left: 745px; 
    top: 596px; 
    position: absolute;
}

.p9{
    width: 215px; 
    height: 120px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C4C4C4;
}

.recomendado4{
   width: 135.52px; 
   left: 0px; 
   top: 125px; 
   position: absolute; 
   color: black; 
   font-size: 14px; 
   font-family: Abel; 
   font-weight: 400; 
   word-wrap: break-word;
}

.logo1{
    left: 40px;
    top: 20px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Abel;
    font-weight: 400;
    word-wrap: break-word;
}

.logo2{
    left: 899px;
    top: 21px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Abel;
    font-weight: 400;
     word-wrap: break-word;
}