*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
}

.container div{
    width: 33.333%;
    height: 100%;
}

.verde{
    background-color: green;
}

.branco{
    background-color: white;
}

.laranja{
    background-color: rgb(209, 102, 63);
}