body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #c41212; /* vermelho da bandeira */
    box-shadow: none;
}

/* Faixa vertical branca */
.faixa-vertical {
    position: absolute;
    left: 30%;
    top: 0;
    width: 12%;
    height: 100%;
    background: #fff;
}

/* Faixa horizontal branca */
.faixa-horizontal {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 12%;
    background: #fff;
}
