bandeira_franca.html
*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container div{
    width: 100%;
    height: 33.333%;
}

.azul{
    background-color: rgb(16, 25, 150);

}

.branco{
    background-color: white;
    text-align: center;
}

.img{
    text-align: center;
    margin: top;
    justify-content: center;
    width: 29vh;
}