* {
    margin: 0;
    box-sizing: border-box;
}

p {
    height: 100px;
    text-align: center;
    width: 33.3333%;
}

.box1 {
    background-color: blue;
    display: block;
    
}

.box2 {
    background-color: red;
    display: block;
    margin: 0 auto;
}

.box3 {
    background-color: green;
    display: block;
    margin-left: auto;
}
